---
layout: archive
title: "Publications"
permalink: publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on my 
    <a href="{{ site.author.googlescholar }}">Google Scholar</a> profile.
  </div>
{% endif %}

{% include base_path %}

<!-- Publications by category -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign posts_in_category = site.publications | where: "category", category[0] | reverse %}
    {% if posts_in_category.size > 0 %}
      <!-- Category heading -->
      <div class="archive__category-title">
        <h2>{{ category[1].title }}</h2>
        <hr />
      </div>

      <!-- Grid container for posts -->
      <div class="grid">
        {% for post in posts_in_category %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div> <!-- end grid -->
    {% endif %}
  {% endfor %}
{% else %}
  <!-- If no categories, show all posts in a single grid -->
  <div class="grid">
    {% for post in site.publications reversed %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
{% endif %}
